@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Título"]</h1>
<blockquote>
    <p>Última atualização: 25 de fevereiro de 2021</p>
    <p>Esta Política de Privacidade descreve Nossas políticas e procedimentos sobre a coleta, uso e divulgação de Suas informações quando Você usa o Serviço e informa sobre Seus direitos de privacidade e como a lei protege Você.</p>
    <p>Usamos seus dados pessoais para fornecer e melhorar o serviço. Ao usar o Serviço, você concorda com a coleta e uso de informações de acordo com esta Política de Privacidade. Esta Política de Privacidade foi criada com a ajuda do <a href="https://www.privacypolicies.com/privacy-policy-generator/" target="_blank">Gerador de Política de Privacidade</a>.</p >
    <h1>Interpretação e Definições</h1>
    <p>As palavras cuja letra inicial é maiúscula têm significados definidos nas seguintes condições. As seguintes definições terão o mesmo significado, independentemente de aparecerem no singular ou no plural.</p>
</blockquote>
<hr />
<blockquote>
    <h3>Dados de uso</h3>
    <p>Os Dados de Uso são coletados automaticamente ao usar o Serviço.</p>
    <p>Os dados de uso podem incluir informações como o endereço do protocolo de Internet do seu dispositivo (por exemplo, endereço IP), tipo de navegador, versão do navegador, as páginas do nosso serviço que você visita, a hora e a data da sua visita, o tempo gasto nessas páginas , identificadores exclusivos de dispositivo e outros dados de diagnóstico.</p>
    <p>Quando você acessa o Serviço por ou por meio de um dispositivo móvel, podemos coletar determinadas informações automaticamente, incluindo, mas não se limitando ao tipo de dispositivo móvel que você usa, o ID exclusivo do seu dispositivo móvel, o endereço IP do seu dispositivo móvel , Seu sistema operacional móvel, o tipo de navegador de Internet móvel que você usa, identificadores exclusivos de dispositivo e outros dados de diagnóstico.</p>
    <p>Também podemos coletar informações que Seu navegador envia sempre que Você visita nosso Serviço ou quando acessa o Serviço por ou por meio de um dispositivo móvel.</p>
</blockquote>